* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.wave {
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}



/* header section */

body {
    background-color: #1A0B2E;
}



/* nav section */

.nav-container {
    background-image: url(images/hero-bg.png);
    background-position-x: center;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 100px;

}

nav h3 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

ul {
    display: flex;

    gap: 32px;
}

li {
    list-style: none;
}

li>a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 300;
    color: #FFFFFF;
}

.btn-primary {
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
}

.hamburger {
    display: none;
}


/* podcast design */

.podcast-img {
    text-align: center;
    margin-top: 80px;
    position: relative;
}

.mic-img {
    position: absolute;
    top: 25%;
    right: 47%;
}

.new-img {
    font-size: 1.2rem;
    font-weight: 500;
    color: #1A0B2E;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 1000px;
    border: none;
    box-shadow: 0 3px 27px 0 #00FF88;
    position: absolute;
    top: 10px;
    right: 800px;
}

/* techwave-description */

.techwave-description {
    text-align: center;
    margin-top: 40px;
}

.techwave-description h2 {
    font-size: 3.75rem;
    font-weight: bolder;
    color: #FFFFFF;
    padding-bottom: 8px;
}

.techwave-description p {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.spotify-btn {
    padding: 12px 20px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10000px;
    border: none;
    align-items: center;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
}

.mail-btn {
    padding: 12px 20px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10000px;
    background-color: transparent;
    border: 1px solid #00FF88;
    align-items: center;
    margin-left: 8px;
}

/* about-description */

.about-description {
    text-align: center;
    margin-top: 209px;

}

.about-description h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.about-p {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.about-description p {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    margin-bottom: 40px;
}

/* user-section */

.user-number {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 160px;
    text-align: center;
    padding-bottom: 120px;

}

.user-content h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
    padding-bottom: 16px;
}

.user-content p {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    line-height: 20px;
}


/* why-tech section */

.why-tech {
    background-color: #230E3D;
}

.why-tech h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 40px;
}

.why-content {
    padding: 107px 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.why-content h4 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.why-content p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 24px;
    color: #FFFFFF;
}

.why-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 320px;
    gap: 30px;
    padding-bottom: 120px;

}

.why-box-1 {
    grid-row: span 2;
    justify-content: center;
    align-items: center;
}

.why-box-2 {
    grid-column: span 2;
    align-items: center;
}

.why-box-3 {
    grid-column: span 2;
    align-items: center;
}

.why-box-4 {
    grid-column: span 2;
    align-items: center;
}

/* featured section */

.featured-container h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 120px;
    margin-bottom: 40px;
}

.video-content {
    display: flex;
    gap: 30px;
}

.video-box {
    max-width: 380px;
    background-color: #250D44;
    border-radius: 24px;
}

.video-box h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 12px;
    padding-left: 20px;
}

.video-p {
    font-size: 1rem;
    font-weight: 100;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 20px;
}

.watch {
    font-size: 1.2rem;
    font-weight: 200;
    color: #00FF88;
    margin-bottom: 12px;
    padding-left: 20px;
}


/* Meet the host section */

.host-container h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 120px;
}

.host-content {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    margin-bottom: 120px;
    border-radius: 40px;
}

.host-content h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
}

.host-content p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}

.icon-border {
    border: 1px solid #1A0B2E;
    padding: 5px;
    border-radius: 100px;
}

.host-icon {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* footer section */

footer {
    background-image: url(images/footer-bg.png);
    background-position-x: center;
}

footer h2 {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 32px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.icon-content {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.icon-content p {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.copyright-p {
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    line-height: 24px;
    color: #FAFAFA;
    padding-bottom: 120px;
}