* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}



/* header section */

body {
    background-color: #1A0B2E;
}



/* nav section */

.nav-container {
    background-image: url(images/hero-bg.png);
    background-position-x: center;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 100px;

}

nav h3 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

ul {
    display: flex;

    gap: 32px;
}

li {
    list-style: none;
}

li>a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 300;
    color: #FFFFFF;
}

.btn-primary {
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
}

.hamburger {
    display: none;
}


/* podcast design */

.podcast-img {
    text-align: center;
    margin-top: 80px;
    position: relative;
}

.mic-img {
    position: absolute;
    top: 25%;
    right: 47%;
}

.new-img {
    font-size: 1.2rem;
    font-weight: 500;
    color: #1A0B2E;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 1000px;
    border: none;
    box-shadow: 0 3px 27px 0 #00FF88;
    position: absolute;
    top: 10px;
    right: 800px;
}

/* techwave-description */

.techwave-description {
    text-align: center;
    margin-top: 40px;
}

.techwave-description h2 {
    font-size: 3.75rem;
    font-weight: bolder;
    color: #FFFFFF;
    padding-bottom: 8px;
}

.techwave-description p {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.spotify-btn {
    padding: 12px 20px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10000px;
    border: none;
    align-items: center;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
}

.mail-btn {
    padding: 12px 20px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10000px;
    background-color: transparent;
    border: 1px solid #00FF88;
    align-items: center;
    margin-left: 8px;
}

/* about-description */

.about-description {
    text-align: center;
    margin-top: 209px;
}

.about-description h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.about-p {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.about-description p {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    margin-bottom: 80px;
}

/* user-section */

.user-number {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 160px;
    text-align: center;

}

.user-content h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
    padding-bottom: 16px;
}

.user-content p {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    line-height: 20px;
}